@model AutoServiceManagementSystem.ViewModels.Jobs.DisplaySparePartViewModel

<tr>
    <td>
        @Model.Name
    </td>
    <td>
        <code>@Model.Code</code>
    </td>
    <td>
        @Model.SupplierName
    </td>
    <td>
        @Model.Quantity
    </td>
    <td>
        @Model.Price
    </td>
    <td>
        @Model.SubTotal
    </td>
</tr>
