@model SparePart

<tr>
    <td>
        @Model.Name
    </td>
    <td>
        <code>@Model.Code</code>
    </td>
    <td>
        @Model.Supplier.Name
    </td>
    <td>
        @Model.Quantity
    </td>
    <td>
        @Model.Price
    </td>
</tr>
