@model AutoServiceManagementSystem.Models.UserDetails

@{
    Layout = null;
    //var ajaxOptions = new AjaxOptions {
    //    HttpMethod = "POST",
    //    AllowCache = false,
    //    LoadingElementId = "loading-user-update",
    //    //OnSuccess = "displaySuccessMessage",
    //    //OnComplete = "displaySuccessMessage"
    //};
}


@using(Html.BeginForm("_EditUserDetails", "Manage",
    FormMethod.Post, new { encType = "multipart/form-data", id = "user-details"}))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName,
            htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.FirstName,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FirstName, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName,
            htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.LastName,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.LastName, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName,
            htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.CompanyName,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.CompanyName, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City,
            htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.City,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.City, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit-btn" type="button" value="Save" class="btn btn-default" />
                <p>@Html.ActionLink("Change your password", "ChangePassword")</p>
            </div>
        </div>
    </div>
}
