@model IEnumerable<AutoServiceManagementSystem.ViewModels.Jobs.DisplayJobViewModel>

@{
    ViewBag.Title = "Jobs";
    var h2 = String.Format("{0}'s {1}", ViewBag.CustomerName, ViewBag.CarManufacturer);
    var h3 = String.Format("{0}", ViewBag.CarPlateNumber ?? "");
}

<h2>
    Repairs history for @h2
</h2>
<h3>
    @h3
</h3>
<hr />

<section class="jobs-list container">

    @if (Model.Count() == 0)
    {
        <h4>Currently there are no jobs for this car.</h4>
    }
    @foreach (var job in Model)
    {
        <div id="jobs-container" class="col-md-3 metro-container">
            <div class="row job-mileage">
                <div class="col-md-6 col-xs-6">
                    <b>@Html.DisplayNameFor(j => j.Mileage)</b>
                </div>
                <div class="col-md-6 col-xs-6">
                    @Html.Encode(job.Mileage.ToString("### ### ### km"))
                </div>
            </div>
            <div class="row job-description">
                <div class="col-md-12 col-sm-6">
                    <b>@Html.DisplayNameFor(j => j.Description)</b>
                </div>
                <div class="col-md-12 col-sm-6">
                    @Html.DisplayFor(j => job.Description)
                </div>
            </div>
            <div class="row job-date-started">
                <div class="col-md-6 col-xs-6">
                    <b>@Html.DisplayNameFor(j => j.DateStarted)</b>
                </div>
                <div class="col-md-6 col-xs-6">
                    @Html.DisplayFor(j => job.DateStarted)
                </div>
            </div>
            <div class="row job-last-modified">
                <div class="col-md-6 col-xs-6">
                    <b>@Html.DisplayNameFor(j => j.LastModified)</b>
                </div>
                <div class="col-md-6 col-xs-6">
                    @Html.DisplayFor(j => job.LastModified)
                </div>
            </div>
            <div class="row job-is-paid-and-is-finished">
                <div class="col-xs-6 col-md-5">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <b>@Html.DisplayNameFor(j => j.IsPaid)</b>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            @Html.DisplayFor(j => job.IsPaid)
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-7">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <b>@Html.DisplayNameFor(j => j.IsFinished)</b>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            @Html.DisplayFor(j => job.IsFinished)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row total">
                <div class="col-md-6 col-xs-6">
                    <b>Total</b>
                </div>
                <div class="col-md-6 col-xs-6">
                    @Html.DisplayFor(j => job.Total)
                </div>
            </div>
            <div class="row total-after-discount">
                <div class="col-md-6 col-xs-6">
                    <b>W/ discount</b>
                </div>
                <div class="col-md-6 col-xs-6">
                    @Html.DisplayFor(j => job.TotalAfterDiscounts)
                </div>
            </div>
            <div class="row text-center">
                <div class="btn-group btn-group-actions">
                    @Html.ActionLink("Edit", "Edit",
                            new { customerId = ViewBag.CustomerId, carId = ViewBag.CarId, jobId = job.JobId },
                            htmlAttributes: new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details",
                            new { customerId = ViewBag.CustomerId, carId = ViewBag.CarId, jobId = job.JobId },
                            htmlAttributes: new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete",
                            new { customerId = ViewBag.CustomerId, carId = ViewBag.CarId, jobId = job.JobId },
                            htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</section>

<div class="row text-right">
    @Html.ActionLink("Add a new task", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back", "CarsByCustomer", "Cars", new { id = ViewBag.CustomerId }, new { @class = "btn btn-default" })
</div>
