@model IEnumerable<Job>

@{
    ViewBag.Title = "Jobs";
    var h2 = String.Format("{0}'s {1} ({2})", ViewBag.CustomerName, ViewBag.CarManufacturer, ViewBag.CarPlateNumber);
}

<h2>
    @h2
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStarted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFinished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit",
                new { customerId = ViewBag.CustomerId, carId = ViewBag.CarId, jobId = item.JobId }) |
                    @Html.ActionLink("Details", "Details",
                new { customerId = ViewBag.CustomerId, carId = ViewBag.CarId, jobId = item.JobId }) |
                    @Html.ActionLink("Delete", "Delete",
                new { customerId = ViewBag.CustomerId, carId = ViewBag.CarId, jobId = item.JobId })
                </td>
            </tr>
        }
    </tbody>
</table>

