@model Job
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sparePart = new SparePart() { Job = Model };
}
<h1>@Model.Description</h1>


@foreach (var part in Model.SpareParts) { 
    <div>@part.Name</div> 
}


@using(@Html.BeginForm("Create", "SpareParts", new {sparePart = sparePart}, FormMethod.Post)) {
    @Html.LabelFor(sp => sparePart.Code, "Код")
    @Html.TextBoxFor(sp => sparePart.Code)
    @Html.LabelFor(sp => sparePart.Name, "Име")
    @Html.TextBoxFor(sp => sparePart.Name)
    @Html.LabelFor(sp => sparePart.Price, "Цена")
    @Html.TextBoxFor(sp => sparePart.Price)
    @Html.LabelFor(sp => sparePart.Quantity, "Количество")
    @Html.TextBoxFor(sp => sparePart.Quantity)
    <input type="submit" value="Добави част" />
    @Html.ActionLink("Submit", )
}
    
    



