@model IEnumerable<AutoServiceManagementSystem.Models.Supplier>

@{
    ViewBag.Title = "Suppliers";
}

<h2>@ViewBag.Title</h2>

<section id="suppliers-list">
    @foreach (var item in Model)
    {
        <div class="supplier-container thumbnail col-sm-2 col-md-4">
            <div class="caption">
                <h3 id="supplier-name">
                    @Html.DisplayFor(m => item.Name)
                </h3>
                <ul class="list-group">
                    <li class="list-group-item supplier-city">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(x => x.City)
                            </div>
                            <div class="col-md-8">
                                <b>
                                    @Html.DisplayFor(m => item.City)
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item supplier-email">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(x => x.EmailAddress)
                            </div>
                            <div class="col-md-8">
                                @if (String.IsNullOrEmpty(item.EmailAddress))
                                {
                                    <span class="text-muted">Not specified.</span>
                                }
                                else
                                {
                                    <b>@Html.DisplayFor(m => item.EmailAddress)</b>
                                }
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item supplier-website">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(x => x.WebsiteUrl)
                            </div>
                            <div class="col-md-8">
                                @if (String.IsNullOrEmpty(item.WebsiteUrl))
                                {
                                    <span class="text-muted">Not specified.</span>
                                }
                                else
                                {
                                    <b>@Html.DisplayFor(m => item.WebsiteUrl)</b>
                                }
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item supplier-discount">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(x => x.DiscountPercentage)
                            </div>
                            <div class="col-md-8">
                                <b>
                                    @Html.DisplayFor(m => item.DiscountPercentage)
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayFor(m => item.SkypeName, "SkypeName")
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="btn-group  ">
                        @Html.ActionLink("Edit", "Edit", new { id = item.SupplierId },
                        new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.SupplierId },
                        new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.SupplierId },
                        new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>

        </div>
    }
</section>

<div class="clearfix"></div>
<div id="btn-add-supplier" class="row text-right">
    @Html.ActionLink("Add a new supplier", "Create", null, new { @class = "btn btn-primary" })
</div>

@section ScriptsHead {
    @Scripts.Render("~/js/skype")
}

@section Scripts {
    @Scripts.Render("~/js/app/supplier/index")
}